In [1]:
import pandas as pd
path = "/Users/ra-mit/data/mitdwhdata/"

In [2]:
# Employee_directory.csv
# Drupal_employee_directory.csv (Hr Org Unit Id, Hr Org Unit Title)
# Hr_faculty_roster.csv
# Library_subject_offered.csv
# Person_auth_area.csv (with krb name)
# short_tip_subject_offered.csv -> Not included as it reduces cardinality

In [23]:
def join_ab_on_key(a: pd.DataFrame, b: pd.DataFrame, a_key: str, b_key: str, suffix_str=None):
    a_valid_index = (a[a_key].dropna()).index
    b_valid_index = (b[b_key].dropna()).index
    a = a.iloc[a_valid_index]
    b = b.iloc[b_valid_index]
    # Normalize join columns
    a[a_key] = a[a_key].apply(lambda x: str(x).lower())
    b[b_key] = b[b_key].apply(lambda x: str(x).lower())
    joined = pd.merge(a, b, how='inner', left_on=a_key, right_on=b_key, sort=False, suffixes=('', suffix_str))
    # # Recover format of original columns
    return joined

In [48]:
df = pd.read_csv(path + "/Employee_directory.csv", encoding='latin1')

In [49]:
df.columns

Index(['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Full Name',
       'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper'],
      dtype='object')

In [50]:
ded = pd.read_csv(path + "/Drupal_employee_directory.csv", encoding='latin1')

In [51]:
len(ded)

16075

In [52]:
intermediate1 = join_ab_on_key(df, ded, 'Mit Id', 'Mit Id', suffix_str='XX')

In [53]:
intermediate1.columns

Index(['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Full Name',
       'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Last NameXX', 'First NameXX',
       'Middle NameXX', 'Full NameXX', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Office LocationXX',
       'Office PhoneXX', 'Hr Org Unit Id', 'Hr Org Unit Title',
       'Directory TitleXX', 'Primary TitleXX', 'Email AddressXX',
       'Personal UrlXX', 'Warehouse Load Date'],
      dtype='object')

In [54]:
intermediate1 = intermediate1.drop(['Last NameXX', 'First NameXX', 'Middle NameXX', 'Full NameXX', 'Office LocationXX', 'Office PhoneXX', 'Directory TitleXX', 'Primary TitleXX', 'Email AddressXX', 'Personal UrlXX'], axis=1)

In [55]:
intermediate1.columns

Index(['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Full Name',
       'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id',
       'Hr Org Unit Title', 'Warehouse Load Date'],
      dtype='object')

In [56]:
len(intermediate1)

15946

In [57]:
#df = pd.read_csv(path + "/Hr_faculty_roster.csv", encoding='latin1')

In [58]:
#df.columns

In [59]:
#intermediate2 = join_ab_on_key(df, intermediate1, 'Mit Id', 'Mit Id', suffix_str='XX')

In [60]:
#len(intermediate2)

In [61]:
#intermediate2.columns

In [62]:
#intermediate2 = intermediate2.drop(['Last NameXX', 'First NameXX', 'Middle NameXX', 'Hr Org Unit TitleXX', 'Warehouse Load DateXX'], axis=1)

In [63]:
#intermediate2.columns

In [64]:
#ded = pd.read_csv(path + "/Library_subject_offered.csv", encoding='latin1')

In [65]:
#ded.columns

In [66]:
#intermediate3 = join_ab_on_key(ded, intermediate2, 'Responsible Faculty Mit Id', 'Mit Id', suffix_str='XX')

In [67]:
#intermediate3.columns

In [68]:
#intermediate3 = intermediate3.drop(['Last NameXX', 'First NameXX', 'Middle NameXX', 'Hr Org Unit TitleXX', 'Warehouse Load DateXX'], axis=1)

In [69]:
#len(intermediate3)

In [70]:
df = pd.read_csv(path + "/Person_auth_area.csv", encoding='latin1')

In [71]:
df.columns

Index(['User Name', 'Has Financial Auth', 'Has Hr Full Auth',
       'Has Hr Limited Auth', 'Has Payroll Auth', 'Warehouse Load Date'],
      dtype='object')

In [72]:
len(intermediate1)

15946

In [73]:
intermediate4 = join_ab_on_key(df, intermediate1, 'User Name', 'Krb Name', suffix_str='XX')

/Users/ra-mit/development/virtualenvs/fabric/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [74]:
len(intermediate4)

15687

In [75]:
intermediate4.columns

Index(['User Name', 'Has Financial Auth', 'Has Hr Full Auth',
       'Has Hr Limited Auth', 'Has Payroll Auth', 'Warehouse Load Date',
       'Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Full Name',
       'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id',
       'Hr Org Unit Title', 'Warehouse Load DateXX'],
      dtype='object')

In [76]:
intermediate4 = intermediate4.drop(['Warehouse Load DateXX'], axis=1)

In [77]:
len(intermediate4)

15687

In [78]:
intermediate4.columns

Index(['User Name', 'Has Financial Auth', 'Has Hr Full Auth',
       'Has Hr Limited Auth', 'Has Payroll Auth', 'Warehouse Load Date',
       'Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Full Name',
       'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id',
       'Hr Org Unit Title'],
      dtype='object')

In [79]:
intermediate4.to_csv("/Users/ra-mit/development/fabric/groundtruth_mitdwh_v2.csv")

In [80]:
final_clean = intermediate4.dropna(axis=0, subset=['Mit Id'])

In [81]:
len(final_clean)

15687

In [82]:
final_clean.to_csv("/Users/ra-mit/development/fabric/groundtruth_mitdwh_v2.csv")

## Now split into tables

In [84]:
final_clean = pd.read_csv("/Users/ra-mit/development/fabric/mitdwh_dataset/groundtruth_mitdwh_v2.csv", encoding='latin1')

In [85]:
final_clean.columns

Index(['Unnamed: 0', 'User Name', 'Has Financial Auth', 'Has Hr Full Auth',
       'Has Hr Limited Auth', 'Has Payroll Auth', 'Warehouse Load Date',
       'Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Full Name',
       'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id',
       'Hr Org Unit Title'],
      dtype='object')

In [86]:
len(final_clean.columns)

34

In [87]:
len(final_clean)

15687

In [88]:
path_dataset = "/Users/ra-mit/development/fabric/mitdwh_dataset/tables_v2/"

In [99]:
table1 = ['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'User Name', 'Has Financial Auth', 'Has Hr Full Auth']
table2 = ['Mit Id', 'User Name', 'Has Hr Full Auth', 'Has Hr Limited Auth', 'Has Payroll Auth']
table3 = ['Mit Id', 'User Name', 'Full Name', 'Office Phone', 'Directory Title']
table4 = ['Mit Id', 'Krb Name', 'Directory Full Name', 'Primary Title', 'Department Number', 'Department Name']
table5 = ['Mit Id', 'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address']
table6 = ['Mit Id', 'Krb Name Uppercase', 'Personal Url', 'Name Known By']
table7 = ['Mit Id', 'Full Name Uppercase', 'Preferred First Name Upper', 'Preferred Last Name Upper', 'Employee Group']
table8 = ['Mit Id', 'Employee Type', 'Krb Name', 'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id', 'Hr Org Unit Title']
table9 = ['Mit Id', 'User Name', 'Office Location', 'Email Address Uppercase', 'Department Name']
#table9 = ['Responsible Faculty Mit Id', 'Num Enrolled Students', 'Employee Group', 'Employee Type', 'Directory Full Name']
#table10 = ['Mit Id', 'Admin Job Title', 'Admin Org Unit Title', 'Admin Position Title', 'Department Number']
#table11 = ['Mit Id', 'Email Address Uppercase', 'Emeritus Status', 'Endowed Chair', 'Full Name']
#table12 = ['Mit Id', 'Directory Org Unit Title', 'Directory Title', 'Office Location', 'Office Phone', 'Primary Title']
#table13 = ['Mit Id', 'Responsible Faculty Name', 'Subject Id', 'Subject Id Sort', 'Terminal Degree']
#table14 = ['Mit Id', 'Master Course Number Desc', 'Master Course Number Sort', 'Name Known By']

In [100]:
#all_tables = [table1, table2, table3, table4, table5, table6, table7, table8, table9, table10, table11, table12, table13, table14]
all_tables = [table1, table2, table3, table4, table5, table6, table7, table8, table9]
set_columns = set()
for t in all_tables:
    for el in t:
        set_columns.add(el)
# missing columns
set(final_clean.columns) - set_columns

{'Unnamed: 0', 'Warehouse Load Date'}

In [101]:
# create dataset

In [102]:
i = 0
for t in all_tables:
    temp_t = final_clean[t]
    temp_t.to_csv(path_dataset + "table_" + str(i) + ".csv", encoding='latin1')
    i += 1