In [1]:
import pandas as pd
path = "/Users/ra-mit/data/mitdwhdata/"

In [2]:
# Employee_directory.csv
# Drupal_employee_directory.csv (Hr Org Unit Id, Hr Org Unit Title)
# Hr_faculty_roster.csv
# Library_subject_offered.csv
# Person_auth_area.csv (with krb name)
# short_tip_subject_offered.csv -> Not included as it reduces cardinality

In [3]:
def join_ab_on_key(a: pd.DataFrame, b: pd.DataFrame, a_key: str, b_key: str, suffix_str=None):
    a_valid_index = (a[a_key].dropna()).index
    b_valid_index = (b[b_key].dropna()).index
    a = a.iloc[a_valid_index]
    b = b.iloc[b_valid_index]
    # Normalize join columns
    a[a_key] = a[a_key].apply(lambda x: str(x).lower())
    b[b_key] = b[b_key].apply(lambda x: str(x).lower())
    joined = pd.merge(a, b, how='outer', left_on=a_key, right_on=b_key, sort=False, suffixes=('', suffix_str))
    # # Recover format of original columns
    return joined

In [4]:
df = pd.read_csv(path + "/Employee_directory.csv", encoding='latin1')

In [5]:
df.columns

Index(['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Full Name',
       'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper'],
      dtype='object')

In [6]:
ded = pd.read_csv(path + "/Drupal_employee_directory.csv", encoding='latin1')

In [13]:
intermediate1 = join_ab_on_key(df, ded, 'Mit Id', 'Mit Id', suffix_str='XX')

In [14]:
intermediate1.columns

Index(['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Full Name',
       'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Last NameXX', 'First NameXX',
       'Middle NameXX', 'Full NameXX', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Office LocationXX',
       'Office PhoneXX', 'Hr Org Unit Id', 'Hr Org Unit Title',
       'Directory TitleXX', 'Primary TitleXX', 'Email AddressXX',
       'Personal UrlXX', 'Warehouse Load Date'],
      dtype='object')

In [17]:
intermediate1 = intermediate1.drop(['Last NameXX', 'First NameXX', 'Middle NameXX', 'Full NameXX', 'Office LocationXX', 'Office PhoneXX', 'Directory TitleXX', 'Primary TitleXX', 'Email AddressXX', 'Personal UrlXX'], axis=1)

In [18]:
intermediate1.columns

Index(['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Full Name',
       'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id',
       'Hr Org Unit Title', 'Warehouse Load Date'],
      dtype='object')

In [22]:
df = pd.read_csv(path + "/Hr_faculty_roster.csv", encoding='latin1')

In [23]:
df.columns

Index(['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Terminal Degree',
       'Appointment Type', 'Job Title', 'Hr Org Unit Title', 'Position Title',
       'Admin Org Unit Title', 'Admin Position Title', 'Admin Job Title',
       'Directory Org Unit Title', 'Endowed Chair', 'Emeritus Status',
       'Warehouse Load Date'],
      dtype='object')

In [29]:
intermediate2 = join_ab_on_key(df, intermediate1, 'Mit Id', 'Mit Id', suffix_str='XX')

In [30]:
len(intermediate2)

15976

In [31]:
intermediate2.columns

Index(['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Terminal Degree',
       'Appointment Type', 'Job Title', 'Hr Org Unit Title', 'Position Title',
       'Admin Org Unit Title', 'Admin Position Title', 'Admin Job Title',
       'Directory Org Unit Title', 'Endowed Chair', 'Emeritus Status',
       'Warehouse Load Date', 'Last NameXX', 'First NameXX', 'Middle NameXX',
       'Full Name', 'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id',
       'Hr Org Unit TitleXX', 'Warehouse Load DateXX'],
      dtype='object')

In [33]:
intermediate2 = intermediate2.drop(['Last NameXX', 'First NameXX', 'Middle NameXX', 'Hr Org Unit TitleXX', 'Warehouse Load DateXX'], axis=1)

In [36]:
intermediate2.columns

Index(['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'Terminal Degree',
       'Appointment Type', 'Job Title', 'Hr Org Unit Title', 'Position Title',
       'Admin Org Unit Title', 'Admin Position Title', 'Admin Job Title',
       'Directory Org Unit Title', 'Endowed Chair', 'Emeritus Status',
       'Warehouse Load Date', 'Full Name', 'Directory Full Name',
       'Office Location', 'Office Phone', 'Directory Title', 'Primary Title',
       'Department Number', 'Department Name', 'Krb Name',
       'Krb Name Uppercase', 'Email Address', 'Personal Url', 'Name Known By',
       'Email Address Uppercase', 'Full Name Uppercase',
       'Preferred First Name Upper', 'Preferred Last Name Upper',
       'Employee Group', 'Employee Type', 'Has Addl Appointment',
       'Has Dual Appointment', 'Hr Org Unit Id'],
      dtype='object')

In [37]:
ded = pd.read_csv(path + "/Library_subject_offered.csv", encoding='latin1')

In [38]:
ded.columns

Index(['Library Subject Offered Key', 'Term Code', 'Master Course Number',
       'Master Course Number Sort', 'Master Course Number Desc',
       'Master Subject Id', 'Master Subject Id Sort', 'Course Number',
       'Course Number Sort', 'Course Number Desc', 'Subject Id',
       'Subject Id Sort', 'Subject Title', 'Offer Dept Code',
       'Offer Dept Name', 'Offer School Name', 'Responsible Faculty Name',
       'Responsible Faculty Mit Id', 'Num Enrolled Students',
       'Warehouse Load Date'],
      dtype='object')

In [39]:
intermediate3 = join_ab_on_key(ded, intermediate2, 'Responsible Faculty Mit Id', 'Mit Id', suffix_str='XX')

/Users/ra-mit/development/virtualenvs/fabric/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [41]:
intermediate3.columns

Index(['Library Subject Offered Key', 'Term Code', 'Master Course Number',
       'Master Course Number Sort', 'Master Course Number Desc',
       'Master Subject Id', 'Master Subject Id Sort', 'Course Number',
       'Course Number Sort', 'Course Number Desc', 'Subject Id',
       'Subject Id Sort', 'Subject Title', 'Offer Dept Code',
       'Offer Dept Name', 'Offer School Name', 'Responsible Faculty Name',
       'Responsible Faculty Mit Id', 'Num Enrolled Students',
       'Warehouse Load Date', 'Mit Id', 'Last Name', 'First Name',
       'Middle Name', 'Terminal Degree', 'Appointment Type', 'Job Title',
       'Hr Org Unit Title', 'Position Title', 'Admin Org Unit Title',
       'Admin Position Title', 'Admin Job Title', 'Directory Org Unit Title',
       'Endowed Chair', 'Emeritus Status', 'Warehouse Load DateXX',
       'Full Name', 'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id'],
      dtype='object')

In [42]:
intermediate3 = intermediate3.drop(['Warehouse Load DateXX'], axis=1)

In [43]:
df = pd.read_csv(path + "/Person_auth_area.csv", encoding='latin1')

In [44]:
df.columns

Index(['User Name', 'Has Financial Auth', 'Has Hr Full Auth',
       'Has Hr Limited Auth', 'Has Payroll Auth', 'Warehouse Load Date'],
      dtype='object')

In [45]:
len(intermediate3)

24482

In [46]:
intermediate4 = join_ab_on_key(df, intermediate3, 'User Name', 'Krb Name', suffix_str='XX')

/Users/ra-mit/development/virtualenvs/fabric/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [47]:
len(intermediate4)

35762

In [48]:
intermediate4.columns

Index(['User Name', 'Has Financial Auth', 'Has Hr Full Auth',
       'Has Hr Limited Auth', 'Has Payroll Auth', 'Warehouse Load Date',
       'Library Subject Offered Key', 'Term Code', 'Master Course Number',
       'Master Course Number Sort', 'Master Course Number Desc',
       'Master Subject Id', 'Master Subject Id Sort', 'Course Number',
       'Course Number Sort', 'Course Number Desc', 'Subject Id',
       'Subject Id Sort', 'Subject Title', 'Offer Dept Code',
       'Offer Dept Name', 'Offer School Name', 'Responsible Faculty Name',
       'Responsible Faculty Mit Id', 'Num Enrolled Students',
       'Warehouse Load DateXX', 'Mit Id', 'Last Name', 'First Name',
       'Middle Name', 'Terminal Degree', 'Appointment Type', 'Job Title',
       'Hr Org Unit Title', 'Position Title', 'Admin Org Unit Title',
       'Admin Position Title', 'Admin Job Title', 'Directory Org Unit Title',
       'Endowed Chair', 'Emeritus Status', 'Full Name', 'Directory Full Name',
       'Office Location', 'Office Phone', 'Directory Title', 'Primary Title',
       'Department Number', 'Department Name', 'Krb Name',
       'Krb Name Uppercase', 'Email Address', 'Personal Url', 'Name Known By',
       'Email Address Uppercase', 'Full Name Uppercase',
       'Preferred First Name Upper', 'Preferred Last Name Upper',
       'Employee Group', 'Employee Type', 'Has Addl Appointment',
       'Has Dual Appointment', 'Hr Org Unit Id'],
      dtype='object')

In [49]:
intermediate4 = intermediate4.drop(['Warehouse Load DateXX'], axis=1)

In [56]:
len(intermediate4)

35762

In [62]:
intermediate4.columns

Index(['User Name', 'Has Financial Auth', 'Has Hr Full Auth',
       'Has Hr Limited Auth', 'Has Payroll Auth', 'Warehouse Load Date',
       'Library Subject Offered Key', 'Term Code', 'Master Course Number',
       'Master Course Number Sort', 'Master Course Number Desc',
       'Master Subject Id', 'Master Subject Id Sort', 'Course Number',
       'Course Number Sort', 'Course Number Desc', 'Subject Id',
       'Subject Id Sort', 'Subject Title', 'Offer Dept Code',
       'Offer Dept Name', 'Offer School Name', 'Responsible Faculty Name',
       'Responsible Faculty Mit Id', 'Num Enrolled Students', 'Mit Id',
       'Last Name', 'First Name', 'Middle Name', 'Terminal Degree',
       'Appointment Type', 'Job Title', 'Hr Org Unit Title', 'Position Title',
       'Admin Org Unit Title', 'Admin Position Title', 'Admin Job Title',
       'Directory Org Unit Title', 'Endowed Chair', 'Emeritus Status',
       'Full Name', 'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id'],
      dtype='object')

In [63]:
intermediate4.to_csv("/Users/ra-mit/development/fabric/groundtruth_mitdwh.csv")

In [65]:
final_clean = intermediate4.dropna(axis=0, subset=['Mit Id'])

In [66]:
len(final_clean)

22860

In [69]:
final_clean.to_csv("/Users/ra-mit/development/fabric/groundtruth_mitdwh.csv")

## Now split into tables

In [4]:
final_clean = pd.read_csv("/Users/ra-mit/development/fabric/groundtruth_mitdwh.csv", encoding='latin1')

/Users/ra-mit/development/virtualenvs/fabric/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (40,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
final_clean.columns

Index(['Unnamed: 0', 'User Name', 'Has Financial Auth', 'Has Hr Full Auth',
       'Has Hr Limited Auth', 'Has Payroll Auth', 'Warehouse Load Date',
       'Library Subject Offered Key', 'Term Code', 'Master Course Number',
       'Master Course Number Sort', 'Master Course Number Desc',
       'Master Subject Id', 'Master Subject Id Sort', 'Course Number',
       'Course Number Sort', 'Course Number Desc', 'Subject Id',
       'Subject Id Sort', 'Subject Title', 'Offer Dept Code',
       'Offer Dept Name', 'Offer School Name', 'Responsible Faculty Name',
       'Responsible Faculty Mit Id', 'Num Enrolled Students', 'Mit Id',
       'Last Name', 'First Name', 'Middle Name', 'Terminal Degree',
       'Appointment Type', 'Job Title', 'Hr Org Unit Title', 'Position Title',
       'Admin Org Unit Title', 'Admin Position Title', 'Admin Job Title',
       'Directory Org Unit Title', 'Endowed Chair', 'Emeritus Status',
       'Full Name', 'Directory Full Name', 'Office Location', 'Office Phone',
       'Directory Title', 'Primary Title', 'Department Number',
       'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address',
       'Personal Url', 'Name Known By', 'Email Address Uppercase',
       'Full Name Uppercase', 'Preferred First Name Upper',
       'Preferred Last Name Upper', 'Employee Group', 'Employee Type',
       'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id'],
      dtype='object')

In [6]:
len(final_clean.columns)

63

In [7]:
len(final_clean)

22860

In [9]:
path_dataset = "/Users/ra-mit/development/fabric/mitdwh_dataset/"

In [17]:
table1 = ['Mit Id', 'Last Name', 'First Name', 'Middle Name', 'User Name', 'Has Financial Auth']
table2 = ['Mit Id', 'User Name', 'Has Hr Full Auth', 'Has Hr Limited Auth', 'Has Payroll Auth']
table3 = ['Mit Id', 'User Name', 'Library Subject Offered Key', 'Term Code', 'Master Course Number']
table4 = ['Mit Id', 'Krb Name', 'Master Subject Id', 'Master Subject Id Sort', 'Course Number', 'Course Number Sort', 'Course Number Desc']
table5 = ['Mit Id', 'Department Name', 'Krb Name', 'Krb Name Uppercase', 'Email Address']
table6 = ['Mit Id', 'Personal Url', 'Subject Title', 'Offer Dept Code', 'Offer Dept Name', 'Offer School Name']
table7 = ['Mit Id', 'Full Name Uppercase', 'Preferred First Name Upper', 'Preferred Last Name Upper', 'Appointment Type', 'Job Title', 'Hr Org Unit Title', 'Position Title']
table8 = ['Mit Id', 'Has Addl Appointment', 'Has Dual Appointment', 'Hr Org Unit Id']
table9 = ['Responsible Faculty Mit Id', 'Num Enrolled Students', 'Employee Group', 'Employee Type', 'Directory Full Name']
table10 = ['Mit Id', 'Admin Job Title', 'Admin Org Unit Title', 'Admin Position Title', 'Department Number']
table11 = ['Mit Id', 'Email Address Uppercase', 'Emeritus Status', 'Endowed Chair', 'Full Name']
table12 = ['Mit Id', 'Directory Org Unit Title', 'Directory Title', 'Office Location', 'Office Phone', 'Primary Title']
table13 = ['Mit Id', 'Responsible Faculty Name', 'Subject Id', 'Subject Id Sort', 'Terminal Degree']
table14 = ['Mit Id', 'Master Course Number Desc', 'Master Course Number Sort', 'Name Known By']

In [18]:
all_tables = [table1, table2, table3, table4, table5, table6, table7, table8, table9, table10, table11, table12, table13, table14]
set_columns = set()
for t in all_tables:
    for el in t:
        set_columns.add(el)
# missing columns
set(final_clean.columns) - set_columns

{'Unnamed: 0', 'Warehouse Load Date'}

In [21]:
# create dataset

In [23]:
i = 0
for t in all_tables:
    temp_t = final_clean[t]
    temp_t.to_csv(path_dataset + "table_" + str(i) + ".csv", encoding='latin1')
    i += 1